@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0eef1;
    font-family: "Poppins", sans-serif;
    background-image: url("../src/imgs/taco-bell.jpg")
}

header{
    height: 7.5vh;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0px 3px 4px rgb(150, 150, 150, 0.2);
    background-color: #fffbfb;
    display: flex;
    justify-content: space-between;
}

header > div{
    font-size: 5vh;
    font-weight: 700;
}

.access > div{
    display: inline;
    margin-right: 20px;
    font-size: 3.5vh;
    font-weight: 500;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home{
    text-align: center;
    background-color: #fffbfb;
    box-shadow: 0px 5px 4px rgb(150, 150, 150, 0.2);
    border-radius: 7px;
    padding: 5vh 8vw 5vh 8vw;
    font-size: 20px;
    margin-top: 10vh;
}

.home img{
    border-radius: 175px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 350px;
    height: 350px;
}

.contact{
    text-align: center;
    background-color: #fffbfb;
    box-shadow: 0px 5px 4px rgb(150, 150, 150, 0.2);
    border-radius: 7px;
    padding: 5vh 8vw 5vh 8vw;
    font-size: 20px;
    margin-top: 7vh;
}

.contact img{
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 350px;
    height: 350px;
}

.foodContainer{
    margin-left: 4.5vw;
    margin-right: 4.5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 3em;
    margin-top: 50px;
}

.item{
    background-color: #fffbfb;
    box-shadow: 0px 5px 4px rgb(150, 150, 150, 0.2);
    border-radius: 7px;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    display: none;
}

.item img{
    width: 200px;
    height: 200px;
}

.foodName{
    font-size: 30px;
    font-weight: 700;
}

.description{
    font-size: 15px;
    font-weight: 500;
}